@import url('../game/_variables.css');
@import url('../game/layout.css');
@import url('../game/card.css');
@import url('../game/player.css');
@import url('../game/piles.css');
@import url('../game/concepts.css');
@import url('../game/modals.css');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Roboto:wght@400;700&display=swap');

.floating-back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    z-index: 1001;
    transition: background-color 0.3s;
}

.floating-back-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}