
<h3>Minhas Obras</h3>
<div class="shop-grid">
    <div class="shop-item gold"><i class="item-icon fas fa-scroll"></i><span class="item-name">Papiro Raro</span><span class="item-price">100 Livros</span><button class="action-button">Adquirir</button></div>
    <div class="shop-item chest"><i class="item-icon fas fa-book"></i><span class="item-name">Tomo Antigo</span><span class="item-price">80 Livros</span><button class="action-button">Adquirir</button></div>
</div>
<h3>Obras Filosóficas</h3>
<div class="shop-grid">
    <div class="shop-item chest"><i class="item-icon fas fa-bolt"></i><span class="item-name">Fragmento de Heráclito</span><span class="item-price">250 Livros</span><button class="action-button">Adquirir</button></div>
    <div class="shop-item chest"><i class="item-icon fas fa-wand-magic-sparkles"></i><span class="item-name">Diálogos de Platão</span><span class="item-price">800 Livros</span><button class="action-button">Adquirir</button></div>
</div>
