<!-- Aplicamos a nova classe de tema -->
<div class="screen philosophy-theme" id="reels-screen">
    
    <!-- O Skeleton Loader continua útil para a percepção de carregamento -->
    <div class="reels-loader" id="reels-loader">
        <div class="reel-skeleton">
            <div class="skeleton-box skeleton-image"></div>
            <div class="skeleton-details">
                <div class="skeleton-info">
                    <div class="skeleton-box skeleton-avatar"></div>
                    <div class="skeleton-box skeleton-text" style="width: 120px;"></div>
                </div>
                <div class="skeleton-box skeleton-text" style="width: 90%;"></div>
                <div class="skeleton-box skeleton-text" style="width: 70%;"></div>
            </div>
            <div class="skeleton-actions">
                <div class="skeleton-box skeleton-icon"></div>
                <div class="skeleton-box skeleton-icon"></div>
                <div class="skeleton-box skeleton-icon"></div>
            </div>
        </div>
    </div>

    <div class="reels-container" id="reels-container">
        <!-- As postagens (imagens) serão inseridas aqui dinamicamente -->
    </div>
</div>