:root {
    /* Mapeamento de Cores por Escola */
    --school-grega: #a67b5b; /* Terra Cota */
    --school-estoicismo: #6a7374; /* Cinza Pedra */
    --school-escolastica: #800000; /* Vinho */
    --school-racionalismo: #0077b6; /* Azul Sábio */
    --school-empirismo: #d4a373; /* Bege Areia */
    --school-iluminismo: #fca311; /* Amarelo Ouro */
    --school-idealismo-alemao: #14213d; /* Azul Marinho Profundo */
    --school-materialismo: #b22222; /* Vermelho Tijolo */
    --school-existencialismo: #4a4e69; /* Roxo Sombrio */
    --school-pos-estruturalismo: #6c757d; /* Cinza Moderno */
    --school-escola-de-frankfurt: #4d4d4d; /* Grafite */
    --color-black: #2e2e2e;
    --card-width: 100px;
    --card-height: 150px;
    --wood-bg: #8c5a3c;
    --wood-grain: #633f2b;
}